@tailwind base;
@tailwind components;
@tailwind utilities;

.tag {
  box-shadow: 0px 4px 4px 0px #00000080 inset;
  background: #8fbf9f;
}

.custom-shape-divider-bottom-1690476280 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690476280 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 58px;
}

.custom-shape-divider-bottom-1690476280 .shape-fill {
  fill: #EBE2CD;
}